<!DOCTYPE html>

<h3>Edit User Page</h3>

<div>
	<%= form_for @user, html: {method: :patch} do |f| %>
		<%= f.label :fname %>
		<%= f.text_field :fname %><br>
		<%= f.label :lname %>
		<%= f.text_field :lname %><br>
		<%= f.label :email %>
		<%= f.text_field :email %><br>
		<%= f.label :password %>
		<%= f.password_field :password %>
		<%= f.submit :Update %>
	<% end %>
</div>