<!DOCTYPE html>

<h3>User Index Page</h3>

<p>sign in</p>

<div>
	<p>sign up</p>
	<%= form_for User.new do |f| %>
		<%= f.label :fname %>
		<%= f.text_field :fname %><br>
		<%= f.label :lname %>
		<%= f.text_field :lname %><br>
		<%= f.label :email %>
		<%= f.text_field :email %><br>
		<%= f.label :password %>
		<%= f.password_field :password %>
		<%= f.submit :create %>
	<% end %>
</div>