<!DOCTYPE html>

<h3><%= "#{@user.fname}'s Posts" %></h3>

<div>
	<ul>
		<% @user.posts.each do |p| %>
		<li>
			<%= p.title %>
			<%= p.body %>
		</li>
		<% end %>
	</ul>
</div>

<div>
	<%= form_for Post.new do |f| %>
		<%= f.label :title %>
		<%= f.text_field :title %><br>
		<%= f.label :body %>
		<%= f.text_field :body %><br>
		<%= f.submit :Post %>
	<% end %>
</div>