<!DOCTYPE html>

<h3><%= "New Post by #{@user.fname}" %></h3>

<%= form_for([@user, @post], method: :post) do |f| %>
	<%= f.label :title %>
	<%= f.text_area :title %>
	<%= f.label :body %>
	<%= f.text_area :body %>
	<%= f.submit :Post! %>
<% end %>
