<!DOCTYPE html>

<h3><%= "#{@user.fname}'s Posts" %></h3>

<div>
	<ul>
		<% @user.posts.each do |p| %>
		<li>
			<%= p.title %><br>
			<%= p.body %>
		</li>
		<% end %>
	</ul>
</div>

<%= Post.all.last.body %>

<%= form_for(@post) do |f| %>
		<%= f.label :title %>
		<%= f.text_field :title %><br>
		<%= f.label :body %>
		<%= f.text_field :body %><br>
		<%= f.submit :create %>
	<% end %>



	